.imgW {
  width: 150px !important;
  height: 64px !important;
}

.spanImg > span {
  width: 102px !important;
  height: 64px !important;
}

.buttonText {
  color: #241f21 !important;
}

.buttonText:hover {
  color: #fff !important;
  transition: 0.2s;
}

.backgroungImage {
  background-image: url(../assets/images/embroidery-desktop.jpg);
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
  width: 100%;
  margin-left: -49.4vw;
  left: 50%;
  padding-top: 40px;
  height: 546.34px;
}

.connectBg {
  background: url(../assets/images/bg_newsletter.png) no-repeat center center
    #dee3e9;
  min-height: 456px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.firstImg > span {
  height: 513px !important;
}

.firstImg img {
  object-fit: cover !important;
}

.second > span {
  height: 253.781px !important;
}

.second img {
  object-fit: cover !important;
}

.showme {
  display: none !important;
}

.aaja:hover .showme {
  display: flex !important;
}

.zoomEffect:hover {
  transform: scale(1.04);
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

.backgroungHeader {
  background-image: url(../assets/images/homepage-desktop-banner.jpg);
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  width: 100%;
  margin-left: -49.4vw;
  left: 50%;
  padding-top: 40px;
  height: 546.34px;
  background-repeat: no-repeat;
  justify-content: flex-end;
}

@media (max-width: 500px) {
  .backgroungHeader {
    position: relative;
    margin-left: -48vw;
    padding-top: 40px;
    height: 259.77px;
    background-position: right top;
    display: none;
  }
  .MobileShow{
    display: block !important;
  }
  .MobileShowMenu{
    display: flex !important;
  }
  .MobileHide{
    display: none !important;
  }
  .firstImg > span {
    height: 365px !important;
  }
  .connectBg{
    min-height: 300px !important;
  }
}

.mobileHero {
  height: 259.77px;
  background-position: right top;
  width: 100%;
}

.mobileHero > span {
  height: 259px !important;
}

.mobileHero img {
  object-fit: cover;
  object-position: right;
}
.MobileShow{
  display: none;
}
.MobileShowMenu{
  display: none;
}
.YourMobile {
  height: 259.77px;
  background-position: right top;
  width: 100%;
}

.YourMobile > span {
  height: 259px !important;
}

.YourMobile img {
  object-fit: cover;
  object-position: left;
}
.MobileShow{
  display: none;
}

.MobileHide{
  display: block;
}